<h1> hellos</h1>
<%= link_to 'Google', 'https://www.google.com' %>
<%= 1 + 2 %></br>
<%= 'cow' + 'dog' %></br>
<%= 1.hour.ago %></br>
<%= 1.hour.from_now.utc %></br>

<div class = "alert">
<%= bootstrap_flash %>
<%= @files %>
<%= @abe %>
</div>